
    
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-sidebar {width: 120px;background: #222;}
</style>
</head>
<body class="w3-black">

  <!-- ABOUT ME PAGE-->

  <div style="float: center;">
    <img src="SelfPhoto.JPG" alt="photo" width="264" height="386">
</div>
  
 <!-- Make a line to incoude basic information of ME-->
  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">Name</span><br>
      Nanjin Wang
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">301243786</span><br>
      Student ID
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">3rd</span><br>
      Semester
    </div>

     <!-- DOWNLOAD RESUME-->
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge"><i class="fa fa-sg fa-download"></i><a href="Nanjin Wang  cover+Resume.pdf">Resume.pdf</a></span><br>
        Download
      </div>
   
  </div>

   <!-- short email of ABOUT ME-->
  <div>
    <h5>Hi everyone. This is Nanjin Wang. I am a student in Software Engineering Technology Program at<br>
      Centennial College. Last year I graduated from High School and it is my third semester at Centennial<br>
      now. I have great interests in coding and I love it so far. One of my favorite coding language is html.</h5><br><br><br>
  </div>
  

    
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>