
    
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-sidebar {width: 120px;background: #222;}


</style>
</head>
<body class="w3-black">



 <!-- PROJECTS PAGE-->
    
 <h1>Project 1: </h1>
 <div style="float: left;">
    <img src="project1.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:400px">
 </div>
 <div >
     <p style="text-align:left;"> &#9654; Project Name: Centennial Residence Place Portal </p>
     <p style="text-align:left;">&#9654; “Centennial Residence Place Portal” is a web and mobile application
          that provides a channel for residents to know each other and to 
          find the right roommate. By using this portal, residents can 
          firstly register and create their own profiles.</p>
          <p style="text-align:left;">&#9654; Position: I helped to finish the Software Requirements Specification in order to 
         introduce the project to its intended audience, like developers, 
         project managers, users (including students and lease manager), 
         and testers.  </p>
     </div>
 <div style="float: none; clear: both;"></div>
 
 
  <!-- PROJECTS 2-->
     <h1>Project 2: </h1>
     <div style="float: left;">
        <img src="project2.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:400px">
     </div>
     <div >
        <p style="text-align:left;"> &#9654; Project Name: BabyKart Application </p>
        <p style="text-align:left;">&#9654; "BabyKart Application" is designed to rent baby equipment to low income family parents. 
             Raising an infant and young child comes with many expenses. One of the biggest initial expenses
              incurred are with baby equipment and furniture.</p>
              <p style="text-align:left;">&#9654; Position: I helped to draw important diagrams in order to let our document become 
             professional and easy-understanding.</p>
         </div>
     <div style="float: none; clear: both;"></div>
 
      <!-- PROJECTS 3-->
     <h1>Project 3: </h1>
     <div style="float: left;">
        <img src="project3.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:400px">
        <br><br><br>
     </div>
     <div >
        <p style="text-align:left;"> &#9654; Project Name: Insects Game </p>
        <p style="text-align:left;">&#9654; "Insects Game" is a web game that let the user to play with a digital insect. 
             Everytime when the user clicked the insect, he will get the score. As higher score
             the player get, the faster the insects will run.</p>
             <p style="text-align:left;">&#9654; Position: I am the only one who made the project, which include planning, 
             coding, and developing.</p>
         </div>
     <div style="float: none; clear: both;"></div>
    
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>