/* custom css goes here */

/*Assignment 1, Section 008, Nanjin Wang, 301243786, October 2nd, 2022*/

h1 {text-align: center;}

h2 {text-align: center;}
div {text-align:  center;}
h4{
    text-align:  center;
margin: 50px;
}
p {
text-align:  center;
margin: 50px;
}
